@use "critical_modules/globals" as g;

.book-info-label {
  font-weight: bold;
}

.double-view.vertical {

  .article-content {
    max-width: g.$breakpoint-medium;
    padding-left: 7em;
    padding-right: 7em;
    margin: auto;
  
    @media all and (max-width: g.$breakpoint-medium)
    {
      padding-left: 3.5em;
      padding-right: 3.5em;
    }

    @media all and (max-width: g.$breakpoint-small)
    {
      padding-left: 0.6em;
      padding-right: 0.6em;
    }
  }
}

.single-post {
  .article-content > p:first-child:first-letter {
    float: left;
    font-family: g.$body-font;
    font-size: 3em;
    line-height: 1em;
    padding: 0;
    padding-right: 0.05em;
  
    @include g.themed() {
      color: g.t("color-banners-foreground"); // #903;
    }
  }
}


