@use "critical_modules/globals" as g;


img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform 0.3s, filter 0.3s;

	&:not(.no-click) {
		cursor: pointer;

		&:hover {
			transform: scale(1.025);
			filter: drop-shadow(0 0 0.2em #333);
		}
	}
}


.front-page-double-view {
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;

	& > .left-side { order: 2; }
	& > .right-side { order: 1; }

	img {
		min-width: 13em;
		border-radius: 0.5em;
	}

	@media all and (max-width: g.$breakpoint-small)
	{
		flex-wrap: wrap;
		& > .left-side, & > .right-side { width: 100%; }
	}
}


.double-view {
	display: flex;
	justify-content: center;
	align-items: start;
	align-content: start;
	gap: 0;
	
	&.horizontal {
		& > .left-side {
			width: 40%;
			text-align: center;
		}
	
		& > .right-side {
			width: 60%;
		}

		&.layout-reversed {
			& > .left-side { order: 2; }
			& > .right-side { order: 1; }
		}
	
		@media all and (max-width: g.$breakpoint-small)
		{
			flex-wrap: wrap;
			& > .left-side { width: 100%; }
			& > .right-side { width: 100%; }

			& > .left-side {
				img {
					max-height: 30em;
					width: auto;
				}
			}

			&.layout-reversed {
				.left-side { order: 0; }
				.right-side { order: 1; }
			}
		}
	}

	&.vertical {
		flex-wrap: wrap;
		& > .left-side {
			width: 100%;
			.sketchy-box {
				margin: auto;
			}
		}
	}
}

.hide-caption {
	figure, picture { margin: 0; margin: auto; padding: 0; }
	figcaption { display: none; }
}

.alignright, .alignleft {
	margin: 0.5em;
	max-width: 15em;

	@media all and (max-width: g.$breakpoint-small)
	{
		clear: both;
		float: none !important;
		max-width: 100%;
		display: block;
		margin: auto !important;
	}
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

figcaption {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	opacity: 0.75;
	font-size: 0.75em;
	line-height: 1.2em;

	@include g.themed() {
		color: g.t("def-near-black");
	}
}

figure {
	display: flex;
	flex-wrap: wrap;

	picture, video, audio { order: 1; }
	figcaption { 
		width: 100%; 
		order: 2; 
	}
}

.image-gallery {
	p { display: none; }
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.5em;

	figure {
		margin: 0;
		padding: 0;
		figcaption { display: none; }
	}
}

video, audio {
	width: 100%;
	max-width: 100%;
}

#overlay-image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	padding: 2em;
	z-index: 15000;

	display: none;
	justify-content: center;
	align-items: center;
	align-content: center;

	@include g.themed() {
		background-color: g.t("def-near-white");
	}

	#overlay-image-src {
		all: unset;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.overlay-image-instruction {
		text-align: center;
		position: absolute;
		bottom: 0.33em;
		font-style: italic;
		width: 100%;
	}
}