<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ partial "site-title.html" . }}

{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png" />

{{ $options := (dict "targetPath" "css/critical.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
{{ $style := resources.Get "sass/critical.scss" | resources.ToCSS $options }}
<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Truculenta:wght@700&display=swap">
    {{ $style := partialCached "func/get-stylesheet.html" . }}
</noscript>