<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ partial "site-title.html" . }}

{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png" />

{{ $options := (dict "targetPath" "css/critical.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
{{ $style := resources.Get "sass/critical.scss" | resources.ToCSS $options | minify }}
<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

<noscript>
    {{ $style := partialCached "func/get-stylesheet.html" . }}
</noscript>