<header>
	<div class="menu-container">
		<nav class="menu">
			<ul class="no-bullets flex-list">
				<li class="priority-1"><a href="/books">Books</a></li>
				<li class="priority-2"><a href="/blog">Blog</a></li>
				<li class="priority-3"><a href="/info/about/">About</a></li>
				<li class="center-logo-faker"><a href="/" class="center-logo-fake" aria-label="Link back to Homepage" title="Go back to homepage"></a></li>
				<li class="priority-1"><button class="gotoBottomButton">Go to Menu</button></li>
				<li class="priority-2"><a href="/books/the-saga-of-life/">Saga of Life</a></li>
				<li class="priority-3"><a href="/series/wildebyte-arcades/">Wildebyte</a></li>
			</ul>
		</nav>
	</div>
	<div class="center-logo-container">
		<div class="center-logo"></div>
	</div>
</header>
